.header {
    height: 70px;
    background-color:#6200EE;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-logo {
    margin-left: 60px;
}

@media (max-width:480px)  { 
    /* do nothing?*/    
}
@media (max-width:800px)  {
    .header {
        height: 60px;
    }
    .header-logo {
        margin-left: 20px;
    }
}
