.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    list-style: none;
    line-height: 18px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    margin: 25px; 
    font-size: 12px; 
    color: #202020;    
    overflow: hidden;
}
.footer-item {
    display: block;
    padding: 0 10px;
    border-left: 1px solid #202020;
    white-space: nowrap;
}
.footer-item:first-child {
    border: none;
}
.footer a {
    text-decoration: none;
    color: #202020;
}